body {
  font-family: verdana;
  background-color: #46C7C7; /*http://www.computerhope.com/cgi-bin/htmlcolor.pl?c=46C7C7*/
}

.header {
  text-align: center
}

.header h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.header h3 {
  margin-top: 10px;
  margin-bottom: 40px;
  font-weight: normal;
}

.navbar {
  text-align: center
}

.navbar a {
  text-decoration: none;
  color: black
}

.navbar li {
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 50px;
  background-color: #e6e6e6;
}

.navbar li:hover {
  background-color: #d1d1d1;
  cursor: pointer;            /* from http://stackoverflow.com/questions/3087975/how-can-i-make-the-cursor-a-hand-when-a-user-hovers-over-a-list-item */
}

.navbar .here {
  text-decoration: underline;
  text-decoration-color: black;
}

.content {
  margin: 50px;
  max-width: 800px;
}
